<h2>Seja Bem Vindo!</h2>

<% nome = "Guilherme Natan"%>
<p><%= nome %></p>
<p>Nome de trás para frente: <%=nome.reverse %></p>
<p>Date de hoje: <%= Date.today%></p>
<ul>
    <li><%= link_to "Cadastro de moedas", coins_path %></li>
    <li><%= link_to "Printar nomes", name_index_path %></li>
    <li><%= link_to "Rotas Rails", "rails/info/routes" %></li>
    <li>Variável teste: <%= @var_test %></li>
</ul>
